.button {
  background-color: $blue;
  border: none;
  color:white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button-back {
  @extend .button;
  background-color: $grey;
}

.button-large {
  @extend .button;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.button-large__top {
  @extend .button-large;
  height: 70px;
  margin-top: $l-size;
}

.button--link {
  background: none;
}

.button--secondary {
  background-color: #888;
}