.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $s-size;
  margin-top: $l-size;
}

.list-body {
  margin-bottom: $l-size 0;
}

.list-item {
  align-items: center;
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $m-size;
  text-decoration: none;
  transition: background 0.3s ease;
  &:hover {
    background: $off-white;
  }
}
.list-item__title {
  margin: 0;
  word-break: break-all;
}
